<div class="w-25 p-4">
	<h3 class="text-primary">SideNav</h3>
	<ul class="nav flex-column">
		{{ $currentPage := . }}
		{{ range .Site.Menus.main }}
			{{ if .HasChildren }}
				{{ template "grandchildren" (dict "menuItem" . "currentPage" $currentPage ) }}
			{{ else }}
				<li class="nav-item">
					<a href="{{ .URL }}">
						{{ .Pre }}
						<span>{{ .Name }}</span>
					</a>
				</li>
			{{ end }}
		{{ end }}
	</ul>
</div>
{{ define "grandchildren" }}
{{ $currentPage := .currentPage }}
{{ $menuItem := .menuItem }}
<li class="nav-item {{ if $currentPage.HasMenuCurrent " main " $menuItem }}active{{ end }}">
	<a href="#">
		{{ $menuItem.Pre }}
		<span>{{ $menuItem.Name }}</span>
	</a>
</li>
<ul class="nav flex-column ms-3">
	{{ range $menuItem.Children }}
		{{ if .HasChildren }}
			{{ template "grandchildren" (dict "menuItem" . "currentPage" $currentPage ) }}
		{{ else }}
		<li class="nav-item {{ if $currentPage.IsMenuCurrent " main " . }}active{{ end }}">
			<a href="{{ .URL }}">
				{{ .Name }}
			</a>
		</li>
		{{ end }}
	{{ end }}
</ul>
{{ end }}