<div class="w-25 p-4">
	<h3 class="text-primary">SideNav</h3>
	<ul class="nav flex-column">
		{{ $currentPage := . }}
		{{ range .Site.Menus.main }}
			{{ if .HasChildren }}
				{{ template "grandchildren" . }}
			{{ else }}
				<li class="nav-item">
					<a href="{{ .URL }}">
						{{ .Pre }}
						<span>{{ .Name }}</span>
					</a>
				</li>
			{{ end }}
		{{ end }}
	</ul>
</div>
{{ define "grandchildren" }}
<li class="nav-item {{ if $currentPage.HasMenuCurrent " main " . }}active{{ end }}">
	<a href="#">
		{{ .Pre }}
		<span>{{ .Name }}</span>
	</a>
</li>
<ul class="nav flex-column ms-3">
	{{ range .Children }}
		{{ if .HasChildren }}
			{{ template "grandchildren" . }}
		{{ else }}
			<li class="nav-item {{ if $currentPage.IsMenuCurrent " main " . }}active{{ end }}">
				<a href="{{ .URL }}">
					{{ .Name }}
				</a>
			</li>
		{{ end }}
	{{ end }}
</ul>
{{ end }}